/*


@media only screen and (min-width:834px) and (max-width: 1112px) { 

    body
    {

        padding-top: -200px;
        vertical-align: baseline;
        outline: 0;
        background: linear-gradient(to bottom, rgba(188,188,188,0.2) 6%,rgba(188,188,188,0.7) 100%)no-repeat center white;
    }
    .username
    {
        float: right;
        clear: both;
        font-size: 12px;
        margin-top: 15px;
    }
    .logo
    {
        background: linear-gradient(to bottom, rgba(0,0,0,0.2) 4%,rgba(0,0,0,0.0) 100%), url('../Images/WNGA-M.png')no-repeat center white;
        min-height: 120px;
        max-width: 25%;
        background-size: contain;
        border: 1px solid #fff;
    }
    #header-desktop
    {
        top: -146px;
        overflow: hidden;
        margin-left: 25%;
        margin-top: 46.2px;
        max-height: 150px;
        max-width: 75%;
        height: 100px;
        opacity: 1;   
        background-size: contain;
        border-bottom: 3px solid #fff;
    }
    .flex-container
    {

        width:100%;
        max-width: 500px;
        display: flex;
        margin-left: -10px;
        margin-top: 60px;
        padding: 2px;

    }
    .flex-signIn
    {

        width:100%;
        max-width: 250px;
        display: flex;
        margin-left: 500px;
        margin-top: -37px;
    }
    .flex-container > div,
    .flex-signIn > div
    {
        font-weight: bold;
        margin-right: 30px;
        padding: 5px;
        border-top: 3px solid #4286f4;
        border-left: 3px solid #4286f4;
        border-right: 3px solid #4286f4;
        border-radius: 2px 15px  2px 15px;
        box-shadow: 1px  1px 2px #080808;
    }
    .flex-container a,
    .flex-signIn a
    {
        color: #000;
        text-decoration: none;
        font-size: 16px;
    }
    .aboutus-header
    {
        padding-top: -18px;
    }
    .aboutUs{
        margin-top: 10px;
        margin-left: 20%;
        padding: 10px;
        max-width: 60%;
        height:auto;
        background-color: #fff;
    }
    #aboutUsFooter
    {
        margin-top: 828px;
    }
    #aboutUsFooter
    {
        margin-top: 573px;
    }
    #header-mobile,
    #header-about-us,
    #signIn-display
    {
        display: none;

    }
    #latestPostContent
    {
        margin-left: 27%;
        width: 100%;
        max-width: 450px;
    }

    .latestPostContent
    {
        width: 100%;
        max-width: 450px;
        height: auto;
        padding-left: 30px;
        border: 1px solid silver;
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;

    }
    .post-preview
    .user-box
    {
        padding-top: 5px;
        margin-top: 20px;
        height: auto;
        max-width: 81%;
        border: 1px solid silver;
        background-color: #fff;
        border-radius: 10px;

    }
    #recent-post
    {
        font-weight: bold;
        color: #000;
        padding-bottom: 20px; 
    }
    .pre-posts
    {
        padding: 10px;
        margin: 10px;
        height: auto;
        width: 100%;
        max-width: 580px;
        background-color: #fff;
        border-radius:10px;
        box-shadow:  1px 1px 1px #000000;
    }
    .display-post
    {
        margin-top: -25px;
        margin-left: 21.7%;
        padding: 20px;
        padding-top: 20px;
        width: auto;
        height:600px;
        overflow: hidden;
        overflow-y: scroll;
    }
       .postContents
    {
        border: 1px solid buttonface;
        width: 100%;
        padding: 10px;
        max-width: 650px;
        height: auto;
        border-radius: 10px;

    }
    #date
    {    
        margin-top: -60px;
        padding: 5px;
        background-color: #fff;
        height: auto;
        font-size: 12px;

    }
     #date p
    {
        color: #000;
        font-size: 10px;
    }

    #expand
    {
        height: 594px;
        max-width: 590px;
        margin-top: -30px;
        margin-left: 3%;
        background-color:  #ccc;
    }

    .today
    {
        float: right;
        margin-right: 10px;
    }

    #upComing,
    #latestPost{
        color: #4286f4;
        font-weight: bold;
    }
   
    .latestPost
    {
        padding-top: 20px;
        padding-bottom: 40px;
        border-top: 9px solid  #4286f4;
        border-bottom: 9px solid #5393fc;
        max-width: 32%;
        margin-left:  33.5%;
        border-radius: 20px;
        margin-bottom: 29px;
    }

    #events
    {
        background-color: white;
        margin-top: 80px;
        width: 100%;
    }
    .policy
    {
        background: #fff;
        overflow: hidden;
        max-height: 480px;
        max-width: 100%;
        margin-left: 10%;
    }
    
    .img-conainter
    {
        margin-top: 20px;
        color:#fff;
        font-size: 30px;
        max-height: 100%;
    }
    .to-center
    {
        margin-top: 20px;
        color: black;
        height: 10px;
    }
    .img-conainter p, .to-center p,
    .news p a
    {
        text-align: center;
        font-size: 18px;
        font-weight: 900;
        color: #fff;
        text-decoration: none;
    } 
    #homepage-containerbg
    {
        margin-top: 35px;
        height: 490px; 

    }
    .post-preview p
    {
        width: 100%;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis; 

    }
    .footer
    {  
        padding:  5px 5px 5px 5px;
        font-size: 10px;
        color: #adadad;
        height: 120px;
        background-color: #122b40; 
        position: relative;
        bottom: 0x;
        width: 100%;
        border: 1px #fff;
    } 
    .footerspace
    {
        margin-top: 50px;
    }
    .footer center{
        color: #fff;
    }
    .postForm
    {  
        margin-top: -90px;
        max-width: 50%;
        margin-left: 25%;
        padding-bottom: 80px;

    }
    .signIn
    {
        padding-top: 55px;
        padding-bottom: 304px;
    }
    .plainText-content
    {
        background-color: #fff;
    }
    .plainText-content p
    {
        padding: 10px;
        color: #000;
    }
    .register
    {   margin-top: -60px;
        margin-left: 40px;
        width: 100%;
        max-width: 450px;
        height: auto;
        color: #000;
        background-color: #fff;
        border-radius:10px;
        padding: 20px;

    }

    .contact0, 
    .contact1,
    .contact2,
    .contact3
    {   
        margin-left: 65px;
        margin-top: 40px;
        padding: 40px;
        width: 100%;
        max-width: 450px;
        height: auto;
        color: #000;
        font-weight: bold;

    }
    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from

    {   
        border: 1px solid #000;
        overflow:hidden;
        width:100%;
        max-width: 850px;
        font-size:18px;
        border-radius:10px;

    }
    textarea
    {
        max-height:50px;
        padding: 10px;
        border-radius: 40px;
        resize: none;

    }
    .btns-flex
    {
        display: flex;
        width: auto;
        padding: 10px; 
    }
    .flex-flex div
    {
        padding: 10px;
    }
    .user-box{
        box-shadow: 1px 1px #000000;
        width:100%;
        max-width: 550px;
        border-radius: 20px;
        background-color: whitesmoke;
        margin: 10px;
    }
    .newuser-box
    {
        margin-left: 40px;
        margin-top: -20px;
        margin-bottom: 299px;
    }
    .admin-box
    {
        margin-left: 20%;
    }
    #user-img
    {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }


    .edit-delete
    {
        margin-bottom: -0px;
        margin-left: 10px;
    }
    .policy
    {
        margin-left: 30px;
        padding: 10px;
        color: #000;
        margin-top: -60px;
        height: auto;
        width: 100%;
        max-width: 450px;
        border-radius:10px;
        background-color:  #fff;
        overflow-y: scroll;
    } 
    .policyBox
    {
        margin-left: 90px;
        padding: 60px;
        padding-top: 20px;
        margin-bottom: 198px;
        background: #fff;
    }

    hr
    {
        margin-left: 80px;

    }

}
@media only screen and (max-width: 1024px){

    body
    {

        padding-top: -200px;
        vertical-align: baseline;
        outline: 0;
        background-color:rgba(188,188,188,0);
    }

    .logo
    {

        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 6%,rgba(188,188,188,0.0) 100%), url('../Images/WNGA-M.png')no-repeat center white;
        height: 100px;
        width: 100%;
        opacity: 1; 
        background-size: contain;

    }
    #header-mobile{
        position: relative;
        margin-top: -20px;
    }
    .logo-hide
    {
        display: none;
    }


    #header-desktop
    {
        display: none;
    }

    #header-about-us{
        position: relative;

    }

    #home a,
    #news a,
    #blog a,
    #log-in a,
    .profile a
    {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        display: block;

    }

    #home, 
    #news,
    #blog, 
    #log-in
    {
        width: 100%;
        text-align: center;
        color: #337ab7;
        border: 1px solid white;
        border-radius: 0.2em 0.2em 0.2em 0.2em;
        background: linear-gradient(to bottom, rgba(51,133,255,0.4) 0%,rgba(255,255,255,0.9) 100%)#000;
    }
    #home a:hover, 
    #news a:hover,
    #blog a:hover, 
    #log-in a:hover{
        color: #3385ff; 
    }
    button{
        background:none;
    }
    #dropdown{
        color: #3385ff;
        background-color: #3385ff;
        font-size: 30px;
        background:none;
        text-decoration: none;
        outline: none;
        border: 1px;
    }
    textarea 
    {
        width: 95%;

        height: 150px;
        border: 1px solid #adadad;

    }
    #nav {
                color: #337ab7;
        font-size: 16px;
        font-weight: bold;

    }
    .username
    {
        float: right;
        clear: both;
        padding-right: 0px;
    }
    #user-img
    {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    #userprofile-img
    {
        width: 150px;
        height: 150px;
    }


    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {
        overflow:hidden;
        max-width:380px;
        font-size:14px;
        display:block;
        margin:10px;
        border-radius:10px;
    }
    .img-conainter p, .to-center p,
    .news p a
    {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        text-decoration: none;
        border: 1px solid black;

    } 
    .upcoming
    {
        text-align: center;
        color: #337ab7;
    }
    .admin-note
    {
        text-align: center;
        color: blue;
    }
    #bg
    {
        height: 200px; 

    }
    .post-preview,
    .user-box
    {
        padding-top: 5px;
        margin-top: 10px;
        background-color:rgba(57,124,163,0.3);
        height: auto;
        width: auto;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    #user-table
    {
        height: auto;
        overflow: scroll;
        padding-bottom: 10px;
    }
    .post-preview p
    {
        width: 100%;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .to-center
    {
        margin-top: 20px;
        color: black;
        height: auto;
    }
    .img-conainter
    {
        margin-top: 20px;
        color: white;
        font-size: 24px;
        height: auto;
    }
    #events
    {
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        color: #000;
        font-size: 12px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }

    .postForm
    {  
        max-width: 80%;
    }
    .signIn
    {
        padding-bottom: 203px;
    }
    .register
    {   
        max-width: 99%;
        height: auto;
        margin: 30px;
        background: #204d74;
        color: #fff;
        border-radius:10px;
        padding-right: 30px;

    }
    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {

        max-width:780px;
        font-size:14px;
        display:block;
        border-radius:10px;
    }
    #log-in-btn
    {
        outline: 0px;
        border: 0px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        background: #3385ff;
    }
    #profile
    {
        outline: none;
        border: none;
        width: 36px;
        padding-left: 0px;
        background: none;
        color:  #3385ff;
    }
    .profile{
        margin-top: 45px; 
        margin-bottom: 30px;
        padding-top: 20px;
        color: #fff;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .aboutUs
    {
        margin-top: 10px;
        background: #204d74;
        color: #fff;
        padding: 20px;
    }


    .aboutUs-top
    {
        margin-top: 50px;
        background: #204d74;
        color: #fff;
        padding: 20px;

    }
    .user-info
    {
        text-align: center;
        outline: 0px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        background: #3385ff;
        padding-top: 0px;
        margin-top: 20px;
        height: auto;
        max-width: 100%;
        padding-bottom: 10px;
    }
     .newuser-box
    {
        margin-left: 40px;
        margin-top: -20px;
        margin-bottom: 299px;
    }
    span
    {
        display: block;
    }
    #latestPostContent
    {

        width: 100%;

    }

    .latestPostContent
    {

        height: auto;
        padding-left: 30px;
        border: 1px solid silver;
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;

    }
    .pre-posts
    {   
        word-break: break-all;
        overflow-y: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        background-color:rgba(57,124,163,0.3)
        height: auto;
        max-width: 100%;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .photo
    {
        padding: 2px;
        margin-left: 9px;

    }
    img
    {
        width: 250px; 
        padding: 5px;
        border-radius: 3px;


    }
    .img-center
    {
        text-align: center;
        padding-bottom: 10px;
    }
    .grey
    {
        color: #101010; 

    }
    #nav
    {
        color:#337ab7;
        margin-top: 0px;
    }
    .edit-btn
    {
        float: right;
        outline: none;
        border: none;
    }

    footer
    {  
        font-size: 8px;
        background-color: #122b40;
        color: #adadad;


    } 
    .footer center{
        color: #fff;
    }

    #strong
    {
        font-weight: bold;

    }
    .header-Hr
    {
        margin-top: -1px;
    }
    .newPost-Hr
    {
        margin-bottom: 5px;
    }
    .edit-delete
    {
        margin-bottom: -0px;
    }
    .userinfo-Hr
    {
        margin-top: -7px;  
    }
    .spaceBox
    {
        height: 450px;
    }
    .hideatmobile
    {
        display: none;
    }
    .policy
    {
        padding: 30px;
        color: #fff;
        margin-top: 30px;
        height: auto;
        width: 350px;
        margin-left: auto;
        margin-right: auto;
        border-radius:10px;
        background-color:  #337ab7;


    } 


}

*/

        /*Tablets*/

@media only screen 
and (min-width : 320px) 
and (max-width : 500px) 
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2){

    body
    {

        padding-top: -200px;
        vertical-align: baseline;
        outline: 0;
        background-color:rgba(188,188,188,0);
    }

    .logo
    {

        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 6%,rgba(188,188,188,0.0) 100%), url('../Images/WNGA-M.png')no-repeat center white;
        height: 100px;
        width: 100%;
        opacity: 1; 
        background-size: contain;

    }
    #header-mobile{
        position: relative;
        margin-top: -20px;
    }
    .logo-hide
    {
        display: none;
    }


    #header-desktop
    {
        display: none;
    }

    #header-about-us{
        position: relative;

    }

    #home a,
    #news a,
    #blog a,
    #log-in a,
    .profile a
    {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        display: block;

    }

    #home, 
    #news,
    #blog, 
    #log-in
    {
        width: 100%;
        text-align: center;
        color: #337ab7;
        border: 1px solid white;
        border-radius: 0.2em 0.2em 0.2em 0.2em;
        background: linear-gradient(to bottom, rgba(51,133,255,0.4) 0%,rgba(255,255,255,0.9) 100%)#000;
    }
    #home a:hover, 
    #news a:hover,
    #blog a:hover, 
    #log-in a:hover{
        color: #3385ff; 
    }
    button{
        background:none;
    }
    #dropdown{
        color: #3385ff;
        /*background-color: #3385ff;*/
        font-size: 30px;
        /*background:none;*/
        text-decoration: none;
        outline: none;
        border: 1px;
    }
    textarea 
    {
        width: 95%;

        height: 150px;
        border: 1px solid #adadad;

    }
    #nav {
        /*        color: #337ab7;*/
        font-size: 16px;
        font-weight: bold;

    }
    .username
    {
        float: right;
        clear: both;
        padding-right: 0px;
    }
    #user-img
    {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    #userprofile-img
    {
        width: 150px;
        height: 150px;
    }


    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {
        overflow:hidden;
        max-width:380px;
        font-size:14px;
        display:block;
        margin:10px;
        border-radius:10px;
    }
    .img-conainter p, .to-center p,
    .news p a
    {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        text-decoration: none;
        /*border: 1px solid black;*/

    } 
    .upcoming
    {
        text-align: center;
        color: #337ab7;
    }
    .admin-note
    {
        text-align: center;
        color: blue;
    }
    #bg
    {
        height: 200px; 

    }
    .post-preview,
    .user-box
    {
        padding-top: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3);*/
        height: auto;
        width: auto;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    #user-table
    {
        height: auto;
        overflow: scroll;
        padding-bottom: 10px;
    }
    .post-preview p
    {
        width: 100%;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .to-center
    {
        margin-top: 20px;
        color: black;
        height: auto;
    }
    .img-conainter
    {
        margin-top: 20px;
        color: white;
        font-size: 24px;
        height: auto;
    }
    #events
    {
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        color: #000;
        font-size: 12px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }

    .postForm
    {  
        max-width: 80%;
    }

    .register
    {   
        width: 100%;
        max-width: 610px;
        height: auto;
        margin-top: 60px;
        background: #204d74;
        color: #fff;
        border-radius:10px;
        padding-right: 30px;

    }
    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {

        max-width:780px;
        font-size:14px;
        display:block;
        border-radius:10px;
    }
    #log-in-btn
    {
        outline: 0px;
        border: 0px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        background: #3385ff;
    }
    #profile
    {
        outline: none;
        border: none;
        width: 36px;
        padding-left: 0px;
        background: none;
        color:  #3385ff;
    }
    .profile{
        margin-top: 45px; 
        margin-bottom: 30px;
        padding-top: 20px;
        color: #fff;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .aboutUs
    {
        margin-top: 10px;
        background: #204d74;
        color: #fff;
        padding: 20px;
    }


    .aboutUs-top
    {
        margin-top: 50px;
        background: #204d74;
        color: #fff;
        padding: 20px;

    }
    .user-info
    {
        text-align: center;
        outline: 0px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        background: #3385ff;
        padding-top: 0px;
        margin-top: 20px;
        height: auto;
        max-width: 100%;
        padding-bottom: 10px;
    }
    .newuser-box
    {
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 140px;
    }
    span
    {
        display: block;
    }
    #latestPostContent
    {

        width: 100%;

    }

    .latestPostContent
    {

        height: auto;
        padding-left: 30px;
        border: 1px solid silver;
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;

    }
    .pre-posts
    {   
        word-break: break-all;
        overflow-y: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3)*/
        height: auto;
        max-width: 100%;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .photo
    {
        padding: 2px;
        margin-left: 9px;

    }
    img
    {
        width: 250px; 
        padding: 5px;
        border-radius: 3px;


    }
    .img-center
    {
        text-align: center;
        padding-bottom: 10px;
    }
    .grey
    {
        color: #101010; 

    }
    #nav
    {
        color:#337ab7;
        margin-top: 0px;
    }
    .edit-btn
    {
        float: right;
        outline: none;
        border: none;
    }

    footer
    {  
        font-size: 8px;
        background-color: #122b40;
        color: #adadad;


    } 
    .footer center{
        color: #fff;
    }

    #strong
    {
        font-weight: bold;

    }
    .header-Hr
    {
        margin-top: -1px;
    }
    .newPost-Hr
    {
        margin-bottom: 5px;
    }
    .edit-delete
    {
        margin-bottom: -0px;
    }
    .userinfo-Hr
    {
        margin-top: -7px;  
    }
    .spaceBox
    {
        height: 450px;
    }
    .hideatmobile
    {
        display: none;
    }
    .policy
    {
        padding: 30px;
        color: #fff;
        margin-top: 30px;
        height: auto;
        width: 100%;
        max-width: 610px;
        border-radius:10px;
        background-color:  #337ab7;


    } 

}
@media only screen 
and (min-width : 768px) 
and (max-width : 900px) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
{


    body
    {

        padding-top: -200px;
        vertical-align: baseline;
        outline: 0;
        background-color:rgba(188,188,188,0);
    }

    .logo
    {

        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 6%,rgba(188,188,188,0.0) 100%), url('../Images/WNGA-M.png')no-repeat center white;
        height: 100px;
        width: 100%;
        opacity: 1; 
        background-size: contain;

    }
    #header-mobile{
        position: relative;
        margin-top: -20px;
    }
    .logo-hide
    {
        display: none;
    }


    #header-desktop
    {
        display: none;
    }

    #header-about-us{
        position: relative;

    }

    #home a,
    #news a,
    #blog a,
    #log-in a,
    .profile a
    {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        display: block;

    }

    #home, 
    #news,
    #blog, 
    #log-in
    {
        width: 100%;
        text-align: center;
        color: #337ab7;
        border: 1px solid white;
        border-radius: 0.2em 0.2em 0.2em 0.2em;
        background: linear-gradient(to bottom, rgba(51,133,255,0.4) 0%,rgba(255,255,255,0.9) 100%)#000;
    }
    #home a:hover, 
    #news a:hover,
    #blog a:hover, 
    #log-in a:hover{
        color: #3385ff; 
    }
    button{
        background:none;
    }
    #dropdown{
        color: #3385ff;
        /*background-color: #3385ff;*/
        font-size: 30px;
        /*background:none;*/
        text-decoration: none;
        outline: none;
        border: 1px;
    }
    textarea 
    {
        width: 95%;

        height: 150px;
        border: 1px solid #adadad;

    }
    #nav {
        /*        color: #337ab7;*/
        font-size: 16px;
        font-weight: bold;

    }
    .username
    {
        float: right;
        clear: both;
        padding-right: 0px;
    }
    #user-img
    {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    #userprofile-img
    {
        width: 150px;
        height: 150px;
    }


    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {
        overflow:hidden;
        max-width:380px;
        font-size:14px;
        display:block;
        margin:10px;
        border-radius:10px;
    }
    .img-conainter p, .to-center p,
    .news p a
    {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        text-decoration: none;
        /*border: 1px solid black;*/

    } 
    .upcoming
    {
        text-align: center;
        color: #337ab7;
    }
    .admin-note
    {
        text-align: center;
        color: blue;
    }
    #bg
    {
        height: 200px; 

    }
    .post-preview,
    .user-box
    {
        padding-top: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3);*/
        height: auto;
        width: auto;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    #user-table
    {
        height: auto;
        overflow: scroll;
        padding-bottom: 10px;
    }
        .postContents
    {
        border: 1px solid buttonface;
        width: 100%;
        padding: 10px;
        max-width: 650px;
        height: auto;
        border-radius: 10px;

    }
    .latestPostContent p
    {
        width: 100%;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .to-center
    {
        margin-top: 20px;
        color: black;
        height: auto;
    }
    .img-conainter
    {
        margin-top: 20px;
        color: white;
        font-size: 24px;
        height: auto;
    }
    #events
    {
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        color: #000;
        font-size: 12px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }

    .postForm
    {  
        max-width: 80%;
    }

    .register
    {   
        width: 100%;
        max-width: 750px;
        height: auto;
        margin-top: 140px;
        background: #204d74;
        color: #fff;
        border-radius:10px;
        padding-right: 30px;

    }
    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {

        max-width:780px;
        font-size:14px;
        display:block;
        border-radius:10px;
    }
    #log-in-btn
    {
        outline: 0px;
        border: 0px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        background: #3385ff;
    }
    #profile
    {
        outline: none;
        border: none;
        width: 36px;
        padding-left: 0px;
        background: none;
        color:  #3385ff;
    }
    .profile{
        margin-top: 45px; 
        margin-bottom: 30px;
        padding-top: 20px;
        color: #fff;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .aboutUs
    {
        margin-top: 10px;
        background: #204d74;
        color: #fff;
        padding: 20px;
    }


    .aboutUs-top
    {
        margin-top: 50px;
        background: #204d74;
        color: #fff;
        padding: 20px;

    }
    .user-info
    {
        text-align: center;
        outline: 0px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        background: #3385ff;
        padding-top: 0px;
        margin-top: 20px;
        height: auto;
        max-width: 100%;
        padding-bottom: 10px;
    }
    .newuser-box
    {
        margin-left: 40px;
        margin-top: 30px;
        margin-bottom: 440px;
    }
    span
    {
        display: block;
    }
    #latestPostContent
    {

        width: 100%;

    }

    .latestPostContent
    {

        height: auto;
        padding-left: 30px;
        border: 1px solid silver;
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;

    }
    .pre-posts
    {   
        word-break: break-all;
        overflow-y: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3)*/
        height: auto;
        max-width: 100%;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .edit-content
    {
        margin-bottom: 578px; 
    }
    .photo
    {
        padding: 2px;
        margin-left: 9px;

    }
    img
    {
        width: 250px; 
        padding: 5px;
        border-radius: 3px;


    }
    .img-center
    {
        text-align: center;
        padding-bottom: 10px;
    }
    .grey
    {
        color: #101010; 

    }
    #nav
    {
        color:#337ab7;
        margin-top: 0px;
    }
    .edit-btn
    {
        float: right;
        outline: none;
        border: none;
    }

    footer
    {  
        font-size: 8px;
        background-color: #122b40;
        color: #adadad;

    } 
    .footer center{
        color: #fff;
    }

    #strong
    {
        font-weight: bold;

    }
    .header-Hr
    {
        margin-top: -1px;
    }
    .newPost-Hr
    {
        margin-bottom: 5px;
    }
    .edit-delete
    {
        margin-bottom: -0px;
    }
    .userinfo-Hr
    {
        margin-top: -7px;  
    }
    .spaceBox
    {
        height: 450px;
    }
    .hideatmobile
    {
        display: none;
    }
    .policy
    {
        padding: 30px;
        color: #fff;
        margin-top: 30px;
        height: auto;
        width: 100%;
        max-width: 750px;
        border-radius:10px;
        background-color:  #337ab7;


    } 

}




        /*Moblie device*/
        
@media only screen 
and (min-width : 320px) 
and (max-width : 500px) 
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2){

    body
    {

        padding-top: -200px;
        vertical-align: baseline;
        outline: 0;
        background-color:rgba(188,188,188,0);
    }

    .logo
    {

        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 6%,rgba(188,188,188,0.0) 100%), url('../Images/WNGA-M.png')no-repeat center white;
        height: 100px;
        width: 100%;
        opacity: 1; 
        background-size: contain;

    }
    #header-mobile{
        position: relative;
        margin-top: -20px;
    }
    .logo-hide
    {
        display: none;
    }


    #header-desktop
    {
        display: none;
    }

    #header-about-us{
        position: relative;

    }

    #home a,
    #news a,
    #blog a,
    #log-in a,
    .profile a
    {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        display: block;

    }

    #home, 
    #news,
    #blog, 
    #log-in
    {
        width: 100%;
        text-align: center;
        color: #337ab7;
        border: 1px solid white;
        border-radius: 0.2em 0.2em 0.2em 0.2em;
        background: linear-gradient(to bottom, rgba(51,133,255,0.4) 0%,rgba(255,255,255,0.9) 100%)#000;
    }
    #home a:hover, 
    #news a:hover,
    #blog a:hover, 
    #log-in a:hover{
        color: #3385ff; 
    }
    button{
        background:none;
    }
    #dropdown{
        color: #3385ff;
        /*background-color: #3385ff;*/
        font-size: 30px;
        /*background:none;*/
        text-decoration: none;
        outline: none;
        border: 1px;
    }
    textarea 
    {
        width: 95%;

        height: 150px;
        border: 1px solid #adadad;

    }
    #nav {
        /*        color: #337ab7;*/
        font-size: 16px;
        font-weight: bold;

    }
    .username
    {
        float: right;
        clear: both;
        padding-right: 0px;
    }
    #user-img
    {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    #userprofile-img
    {
        width: 150px;
        height: 150px;
    }


    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {
        overflow:hidden;
        max-width:380px;
        font-size:14px;
        display:block;
        margin:10px;
        border-radius:10px;
    }
    .img-conainter p, .to-center p,
    .news p a
    {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        text-decoration: none;
        /*border: 1px solid black;*/

    } 
    .upcoming
    {
        text-align: center;
        color: #337ab7;
    }
    .admin-note
    {
        text-align: center;
        color: blue;
    }
    #bg
    {
        height: 200px; 

    }
    .post-preview,
    .user-box
    {
        padding-top: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3);*/
        height: auto;
        width: auto;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    #user-table
    {
        height: auto;
        overflow: scroll;
        padding-bottom: 10px;
    }
    .post-preview p
    {
        width: 100%;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .to-center
    {
        margin-top: 20px;
        color: black;
        height: auto;
    }
    .img-conainter
    {
        margin-top: 20px;
        color: white;
        font-size: 24px;
        height: auto;
    }
    #events
    {
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        color: #000;
        font-size: 12px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }

    .postForm
    {  
        max-width: 80%;
    }

    .register
    {   
        width: 100%;
        max-width: 610px;
        height: auto;
        margin-top: 60px;
        background: #204d74;
        color: #fff;
        border-radius:10px;
        padding-right: 30px;

    }
    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {

        max-width:780px;
        font-size:14px;
        display:block;
        border-radius:10px;
    }
    #log-in-btn
    {
        outline: 0px;
        border: 0px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        background: #3385ff;
    }
    #profile
    {
        outline: none;
        border: none;
        width: 36px;
        padding-left: 0px;
        background: none;
        color:  #3385ff;
    }
    .profile{
        margin-top: 45px; 
        margin-bottom: 30px;
        padding-top: 20px;
        color: #fff;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .aboutUs
    {
        margin-top: 10px;
        background: #204d74;
        color: #fff;
        padding: 20px;
    }


    .aboutUs-top
    {
        margin-top: 50px;
        background: #204d74;
        color: #fff;
        padding: 20px;

    }
    .user-info
    {
        text-align: center;
        outline: 0px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        background: #3385ff;
        padding-top: 0px;
        margin-top: 20px;
        height: auto;
        max-width: 100%;
        padding-bottom: 10px;
    }
    .newuser-box
    {
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 140px;
    }
    span
    {
        display: block;
    }
    #latestPostContent
    {

        width: 100%;

    }

    .latestPostContent
    {

        height: auto;
        padding-left: 30px;
        border: 1px solid silver;
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;

    }
    .pre-posts
    {   
        word-break: break-all;
        overflow-y: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3)*/
        height: auto;
        max-width: 100%;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .photo
    {
        padding: 2px;
        margin-left: 9px;

    }
    img
    {
        width: 250px; 
        padding: 5px;
        border-radius: 3px;


    }
    .img-center
    {
        text-align: center;
        padding-bottom: 10px;
    }
    .grey
    {
        color: #101010; 

    }
    #nav
    {
        color:#337ab7;
        margin-top: 0px;
    }
    .edit-btn
    {
        float: right;
        outline: none;
        border: none;
    }

    footer
    {  
        font-size: 8px;
        background-color: #122b40;
        color: #adadad;


    } 
    .footer center{
        color: #fff;
    }

    #strong
    {
        font-weight: bold;

    }
    .header-Hr
    {
        margin-top: -1px;
    }
    .newPost-Hr
    {
        margin-bottom: 5px;
    }
    .edit-delete
    {
        margin-bottom: -0px;
    }
    .userinfo-Hr
    {
        margin-top: -7px;  
    }
    .spaceBox
    {
        height: 450px;
    }
    .hideatmobile
    {
        display: none;
    }
    .policy
    {
        padding: 30px;
        color: #fff;
        margin-top: 30px;
        height: auto;
        width: 100%;
        max-width: 610px;
        border-radius:10px;
        background-color:  #337ab7;


    } 

}
@media only screen 
and (min-width : 320px) 
and (max-width : 500px) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2)
{


    body
    {

        padding-top: -200px;
        vertical-align: baseline;
        outline: 0;
        background-color:rgba(188,188,188,0);
    }

    .logo
    {

        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 6%,rgba(188,188,188,0.0) 100%), url('../Images/WNGA-M.png')no-repeat center white;
        height: 100px;
        width: 100%;
        opacity: 1; 
        background-size: contain;

    }
    #header-mobile{
        position: relative;
        margin-top: -20px;
    }
    .logo-hide
    {
        display: none;
    }


    #header-desktop
    {
        display: none;
    }

    #header-about-us{
        position: relative;

    }

    #home a,
    #news a,
    #blog a,
    #log-in a,
    .profile a
    {
        color: #fff;
        text-decoration: none;
        font-size: 14px;
        width: 100%;
        display: block;

    }

    #home, 
    #news,
    #blog, 
    #log-in
    {
        width: 100%;
        text-align: center;
        color: #337ab7;
        border: 1px solid white;
        border-radius: 0.2em 0.2em 0.2em 0.2em;
        background: linear-gradient(to bottom, rgba(51,133,255,0.4) 0%,rgba(255,255,255,0.9) 100%)#000;
    }
    #home a:hover, 
    #news a:hover,
    #blog a:hover, 
    #log-in a:hover{
        color: #3385ff; 
    }
    button{
        background:none;
    }
    #dropdown{
        color: #3385ff;
        /*background-color: #3385ff;*/
        font-size: 30px;
        /*background:none;*/
        text-decoration: none;
        outline: none;
        border: 1px;
    }
    textarea 
    {
        width: 95%;

        height: 150px;
        border: 1px solid #adadad;

    }
    #nav {
        /*        color: #337ab7;*/
        font-size: 16px;
        font-weight: bold;

    }
    .username
    {
        float: right;
        clear: both;
        padding-right: 0px;
    }
    #user-img
    {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    #userprofile-img
    {
        width: 150px;
        height: 150px;
    }


    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {
        overflow:hidden;
        max-width:380px;
        font-size:14px;
        display:block;
        margin:10px;
        border-radius:10px;
    }
    .img-conainter p, .to-center p,
    .news p a
    {
        text-align: center;
        font-size: 16px;
        font-weight: 900;
        text-decoration: none;
        /*border: 1px solid black;*/

    } 
    .upcoming
    {
        text-align: center;
        color: #337ab7;
    }
    .admin-note
    {
        text-align: center;
        color: blue;
    }
    #bg
    {
        height: 200px; 

    }
    .post-preview,
    .user-box
    {
        padding-top: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3);*/
        height: auto;
        width: auto;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    #user-table
    {
        height: auto;
        overflow: scroll;
        padding-bottom: 10px;
    }
    .latestPostContent p
    {
        width: 100%;
        white-space: nowrap;  
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .to-center
    {
        margin-top: 20px;
        color: black;
        height: auto;
    }
    .img-conainter
    {
        margin-top: 20px;
        color: white;
        font-size: 24px;
        height: auto;
    }
    #events
    {
        text-align: center;
        margin-top: 10px;
        padding-top: 10px;
        color: #000;
        font-size: 12px;
        height: auto;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }

    .postForm
    {  
        max-width: 80%;
    }

    .register
    {   
        width: 100%;
        max-width: 350px;
        height: auto;
        margin-top: 60px;
        background: #204d74;
        color: #fff;
        border-radius:10px;
        padding-right: 30px;

    }
    textarea, 
    #log-in-btn, 
    #link, 
    #registration-from
    {

        max-width:780px;
        font-size:14px;
        display:block;
        border-radius:10px;
    }
    #log-in-btn
    {
        outline: 0px;
        border: 0px;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        background: #3385ff;
    }
    #profile
    {
        outline: none;
        border: none;
        width: 36px;
        padding-left: 0px;
        background: none;
        color:  #3385ff;
    }
    .profile{
        margin-top: 45px; 
        margin-bottom: 30px;
        padding-top: 20px;
        color: #fff;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .aboutUs
    {
        margin-top: 10px;
        background: #204d74;
        color: #fff;
        padding: 20px;
    }


    .aboutUs-top
    {
        margin-top: 50px;
        background: #204d74;
        color: #fff;
        padding: 20px;

    }
    .user-info
    {
        text-align: center;
        outline: 0px;
        border: 1px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size: 15px;
        background: #3385ff;
        padding-top: 0px;
        margin-top: 20px;
        height: auto;
        max-width: 100%;
        padding-bottom: 10px;
    }
    .newuser-box
    {
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 140px;
    }
    span
    {
        display: block;
    }
    #latestPostContent
    {

        width: 100%;

    }

    .latestPostContent
    {

        height: auto;
        padding-left: 30px;
        border: 1px solid silver;
        margin: 10px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 1px 1px #000000;

    }
    .pre-posts
    {   
        word-break: break-all;
        overflow-y: hidden;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 10px;
        /*background-color:rgba(57,124,163,0.3)*/
        height: auto;
        max-width: 100%;
        border: 1px solid silver;
        background: linear-gradient(to bottom, rgba(188,188,188,0.1) 10%,rgba(255,255,255,0.2) 40%),rgba(188,188,188,0.1)100%;
    }
    .photo
    {
        padding: 2px;
        margin-left: 9px;

    }
    img
    {
        width: 250px; 
        padding: 5px;
        border-radius: 3px;


    }
    .img-center
    {
        text-align: center;
        padding-bottom: 10px;
    }
    .grey
    {
        color: #101010; 

    }
    #nav
    {
        color:#337ab7;
        margin-top: 0px;
    }
    .edit-btn
    {
        float: right;
        outline: none;
        border: none;
    }

    footer
    {  
        font-size: 8px;
        background-color: #122b40;
        color: #adadad;


    } 
    .footer center{
        color: #fff;
    }

    #strong
    {
        font-weight: bold;

    }
    .header-Hr
    {
        margin-top: -1px;
    }
    .newPost-Hr
    {
        margin-bottom: 5px;
    }
    .edit-delete
    {
        margin-bottom: -0px;
    }
    .userinfo-Hr
    {
        margin-top: -7px;  
    }
    .spaceBox
    {
        height: 450px;
    }
    .hideatmobile
    {
        display: none;
    }
    .policy
    {
        padding: 30px;
        color: #fff;
        margin-top: 30px;
        height: auto;
        width: 100%;
        max-width: 350px;
        border-radius:10px;
        background-color:  #337ab7;


    } 

}